body{
	margin: 0;
	padding: 0;
	background-color: #ccd5ae;
}

p.title{
	font-family: Arial; padding: -5px; font-weight:bold; text-align:center; font-size:50px
}

p.subtitle{
	font-family: Arial; font-weight: ; text-align:center; font-size:10px
}

/*----------------------------------------------Add a black background color to the top navigation */
.topnav {
  background-color: #283618;
  overflow: hidden;
}

/*---------------------------------------------------Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #e9edc9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*-----------------------------------------------------------Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*---------------------------------------------------------Add a color to the active/current link */
.topnav a.active {
  background-color: #588157;
  color: white90;
}

/*--------------------------------------------------------------------Header styling */
.header {
  padding: 10px;
  text-align: center;
  background: #a3b18a;
  color: #918450;
  font-size: 30px;
  
}

/*---------------------------------------------------------------------Footer styling */
footer {
  border: 5px solid #a4ac86;
  text-align: center;
  background-color: #81b29a;
  font-size: 15px;
  font-family: ARIAL;
}


/*-------------------------------------------------------Side by side images */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/*-----------------------------------------------------Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*--------------------------------------------------------Footer styling */
footer {
  border: 5px solid #a4ac86;
  text-align: center;
  background-color: #81b29a;
  font-size: 15px;
  font-family: ARIAL;
}